*{
    margin: 0;
    padding: 0;
}


:root {
    /* fonts*/
    --Inter: 'Inter', sans-serif;
    --DMSans: 'DM Sans', sans-serif;

    /* width  */
    --row-width: 1480px;

    /*  colors  */
    --blue: #C4DEFD;
    --darkBlue: #4F9CF9;
    --solidBlue: #043873;
    --yellow: #FFE492;
    --black: #212529;
    --white: #fff;
}
.section-8 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.your-data{
    font-family: var(--Inter);
    font-style: Bold;
    font-weight: 700;
    font-size: 72px;
    line-height: 87px;
    letter-spacing: -0.02em;
    color: var(--black);
    margin-bottom: 24px;
    position: relative;
}
.your-data-p {
    font-family: var(--Inter);
    font-style: Regular;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: var(--black);
    margin-bottom: 60px;
}
.btn-section1{
    outline: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 10px;
    border-radius: 8px;
    color: var(--white);
    font-family: var(--Inter);
    background: var(--darkBlue);
    font-style: Medium;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.02em;
}
.your-data > img {
    width: 326.15px;
    height: 36.56px;
    left: 207px;
    bottom: -12px;
    z-index: -1;
    position: absolute;
}
